<%= form_for(@service_type) do |f| %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control", style: "width: 25%" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>
