<p>
  <strong>Description:</strong>
  <%= @service_type.description %>
</p>

<span class="page_footer">
  <%= link_to 'Edit', edit_service_type_path(@service_type) %> |
  <%= link_to 'Back', service_types_path %>
</span>
