    <h2> <p class="intro"><%= t('intro') %> </p></h2>

    <select id="dynamic_select">
      <option value="" selected><%= t('pick_language') %></option>
      <option value="en"><%= t('english') %></option>
      <option value="pt"><%= t('portuguese') %></option>
    </select>



<script>
    $(function(){
      // bind change event to select
      $('#dynamic_select').on('change', function () {
          var locale = $(this).val(); // get selected value
          if (locale) { // require a URL
            newUrl = window.location.protocol + '//'  + window.location.host + '?locale=' + locale;
            window.location = newUrl; // redirect
          }
          return false;
      });
    });
</script>
