/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page_title{
	font-size: 30px;
  margin-bottom: 15px;
}

.page_footer {
	font-size: 14px;
}

@media only screen and (max-width: 525px) {
	.page_title{
		font-size: 20px;
	    margin-bottom: 15px;
	}
	.page_title_invoices{
		font-size: 20px;
	    margin-bottom: 15px;
	}

	.page_footer {
		font-size: 10px;
	}
	.custom-select {
		width: 50% !important;
	}

}
@media only screen and (max-width: 450px) {
	.page_title_invoices{
		/*font-size: 20px; */
	    margin-bottom: 50px;
	}

}

.pagination>li.active>a {
  /*background: #68b468;
  color: #fff; */
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #68b468;
    border-color: #68b468;
    cursor: default;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #68b468;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #68b468;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    margin-left: -1px;
}

.jumbotron {
    padding: 110px 60px !important;
}

.card-body {
    padding: 0.75rem !important;
}

.custom-select:focus {
    border-color: #68b468 !important;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(104,180,104,.5) !important;
}
.checkbox label, .radio label, label {
    font-size: 12px !important;
}
.custom-file-control, .form-control {
    font-size: 11px !important;
}
