.navbar-default .navbar-nav  > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #68b468;
}
#clients_table th, #invoices_table th, #services_table th, #shipping_addresses_table th, #estimates_table th, #expenses_table th, #prospects_table th, #schedules_table th, #service_types_table th{
  padding-top:5px;
  padding-bottom:4px;
  background-color: #68b468;
  border:1px solid #000033;
}
.jumbotron {
    background: url('https://pandera.ml/images/pandera_app/panderaBackground.jpg') no-repeat scroll;
    color: #696969;
    color: black;
    margin-top: -20px;

    @media screen and (max-width: 768px) {
     text-align: center;
    }
    padding: 88px 60px;
    @media screen and (max-width: 320px) { padding: 84px 60px; }
}

.intro{
    width: 460px;
    padding: 130px 0px 0px 0px;
    @media screen and (max-width: 568px) { width: 100%; }
    @media screen and (max-width: 380px) { width: 100%; padding: 125px 0px 0px 0px; }


    line-height: 20px;
}

#dynamic_select{
    float: left;
    @media screen and (max-width: 768px) { float: center; }
}

.form-control{
    width: 30% !important;
    @media screen and (max-width: 990px) { width: 35% !important }
    @media screen and (max-width: 650px) { width: 45% !important }
    @media screen and (max-width: 550px) { width: 55% !important }
    @media screen and (max-width: 450px) { width: 60% !important }
/*    @media screen and (max-width: 450px) { width: 39% !important }
    @media screen and (max-width: 400px) { width: 42% !important }
    @media screen and (max-width: 375px) { width: 45% !important }
    @media screen and (max-width: 350px) { width: 48% !important }
    @media screen and (max-width: 325px) { width: 51% !important } */
}
